* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: sans-serif;
}

body {
    background-color: #242424;
}

.container {
    max-width: 960px;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 45vh auto;
}